<div>
	<h2>Topologies</h2>

	<table class="table table-hover">
		<tbody>
            <tr ng-repeat="topology in topologies">
                <td>{{topology.name}}</td>
                <td>
                	<a ng-href="#/topologies/{{topology.id}}"><i class="fa fa-edit fa-lg"></i></a>
                	<i class="fa fa-trash-o fa-lg clickable" ng-click="deleteTopology();"></i>
               	</td>
            </tr>
        </tbody>
	</table>
	
	<button class="btn btn-primary" ng-click="createNewTopology();">
		<i class="fa fa-plus"></i> Create new
	</button>
</div>
