<div>
	<div class="modal-header">
		<div class="form-group">
			<input class="form-control input-lg" ng-model="component.name" placeholder="Component's name" />
		</div>
	</div>
	<div class="modal-body">
		<tabset>
			<tab>
				<tab-heading><i class="fa fa-cogs fa-lg"></i> Properties </tab-heading>
	
				<form role="form">
					<div class="form-group" ng-repeat="property in component.properties">
						<label for="{{property.name}}">{{property.name}}</label>
						<input id="{{property.name}}" class="form-control" ng-model="property.value" ng-required="property.mandatory">
						<p class="help-block">{{property.description}}</p>
					</div>
				</form>
			</tab>
			
			<tab>
		
				<tab-heading> <i class="fa fa-link fa-lg"></i> Field mapping </tab-heading>
		
				<form class="form-horizontal" name="input-{{inputStream.name.removeSpaces()}}" ng-repeat="inputStream in component.inputStreams">
					<h4>
						{{inputStream.name}} <small>(Input stream)</small>
					</h4>
		
					<!-- ?? | filter:isFixedFeaturesMapping -->
					<div ng-repeat="mapping in inputStream.mappings" class="control-group" ng-class="{error: input-{{inputStream.name.removeSpaces()}}[{{mapping.inside.removeSpaces()}}].$invalid}">
						<label class="control-label" for="{{mapping.inside.removeSpaces()}}">{{mapping.inside}}</label>
						<div class="controls">
							<input type="text" name="{{mapping.inside.removeSpaces()}}" ng-model="mapping.outside" ng-required="true"> <span
								ng-show="input-{{inputStream.name.removeSpaces()}}.{{mapping.inside.removeSpaces()}}.$error.required" class="help-inline">Required</span>
						</div>
					</div>
				</form>
		
				<form class="form-horizontal" name="output-{{outputStream.name.removeSpaces()}}" ng-repeat="outputStream in component.outputStreams">
					<h4>
						{{outputStream.name}} <small>(Output stream)</small>
					</h4>
					<div ng-repeat="mapping in outputStream.mappings" class="control-group" ng-class="{error: output-{{outputStream.name.removeSpaces()}}[{{mapping.inside.removeSpaces()}}].$invalid}">
						<label class="control-label" for="{{mapping.inside.removeSpaces()}}">{{mapping.inside}}</label>
						<div class="controls">
							<input type="text" name="{{mapping.inside.removeSpaces()}}" ng-model="mapping.outside" ng-required="true"> <span
								ng-show="output-{{outputStream.name.removeSpaces()}}.{{mapping.inside.removeSpaces()}}.$error.required" class="help-inline">Required</span>
						</div>
					</div>
				</form>
			</tab>
		</tabset>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="deleteComponent()">
			<i class="fa fa-trash-o fa-lg"></i> Delete
		</button>
		<button class="btn btn-primary" ng-click="saveComponent()">
			<i class="fa fa-save fa-lg"></i> Save
		</button>
	</div>
</div>