<div class="form-group">
	<label for="{{property.name.removeSpaces()}}">{{property.name}}</label> <small ng-if="property.description.mandatory">(Mandatory)</small>
	<input ng-if="property.description.type == 'STRING'" id="{{property.name.removeSpaces()}}" name="{{property.name.removeSpaces()}}" class="form-control" ng-model="property.value" type="text" ng-required="property.description.mandatory">
	
	<input ng-if="property.description.type == 'INTEGER'" name="{{property.name.removeSpaces()}}" class="form-control" ng-model="property.value" type="number" ng-pattern="/^\d+$/" ng-required="property.description.mandatory">
	<input ng-if="property.description.type == 'DECIMAL'" name="{{property.name.removeSpaces()}}" class="form-control" ng-model="property.value" type="number" step="any" ng-required="property.description.mandatory">
	<input ng-if="property.description.type == 'NUMBER'" name="{{property.name.removeSpaces()}}" class="form-control" ng-model="property.value" type="number" step="any" ng-required="property.description.mandatory">
	
	<select ng-if="property.description.type == 'ENUM'" name="{{property.name.removeSpaces()}}" class="form-control" ng-model="property.value" ng-init="property.value = property.value || property.description.acceptedValues[0]"  ng-options="value as value for value in property.description.acceptedValues" ng-required="property.description.mandatory">
		<option ng-if="!property.description.mandatory" value=>None</option>
	</select>
	
	<div ng-if="property.description.type == 'BOOLEAN'" name="{{property.name.removeSpaces()}}">
	    <input name="{{property.name.removeSpaces()}}" type="checkbox" switch>
	</div>
      
	<p class="help-block">{{property.description.description}}</p>
</div>