<div>
	<div class="modal-header">
		<div class="form-group">
			<input class="form-control input-lg" ng-model="component.name" placeholder="Component's name" />
		</div>
	</div>
	<div class="modal-body">
		<tabset>
			<tab>
				<tab-heading><i class="fa fa-cogs fa-lg"></i> Properties </tab-heading>
	
				<form name="propertiesForm">
					<div ng-repeat="property in component.properties">
						<property model="property" />
					</div>
				</form>
			</tab>
			
			<tab>
				<tab-heading><i class="fa fa-link fa-lg"></i> Input mapping </tab-heading>
				
				<form role="form" ng-repeat="inputStream in component.inputStreams">
					<h3>{{inputStream.description.name}}</h3>
					
					<div ng-show="inputStream.description.type == 'FIXED_FEATURES'">
						<div class="form-group" ng-repeat="(componentName, topologyName) in inputStream.mappings">
							<label>{{componentName}}</label>
							<select class="form-control" ng-model="inputStream.mappings[componentName]"  ng-options="value as value for value in retrieveAvailableFeatures(inputStream.description.name)" ng-required="true"></select>
						</div>
					</div>
					
					<div ng-show="inputStream.description.type == 'USER_SELECTION'">
						<select class="form-control" multiple ng-model="inputStream.selectedFeatures" ng-required="true"
								ng-options="value as value for value in retrieveAvailableFeatures(inputStream.description.name)">
						</select>
					</div>
				</form>
			</tab>
			
			<tab>
				<tab-heading><i class="fa fa-link fa-lg"></i> Output mapping </tab-heading>

				<form role="form" ng-repeat="outputStream in component.outputStreams">
					<h3>{{outputStream.description.name}}</h3>
					
					<div ng-show="outputStream.description.type == 'FIXED_FEATURES'">
						<div class="form-group" ng-repeat="(componentName, topologyName) in outputStream.mappings">
							<label>{{componentName}}</label>
							<input class="form-control" ng-model="outputStream.mappings[componentName]">
						</div>
					</div>
					
					<div ng-show="outputStream.description.type == 'USER_SELECTION'">
						<div class="input-group form-group" ng-repeat="selectedFeature in outputStream.selectedFeatures track by $index">
							<input class="form-control" ng-model="outputStream.selectedFeatures[$index]" type="text"/>
							<span class="input-group-addon btn" ng-click="outputStream.selectedFeatures.splice($index, 1)">x</span>
						</div>

					    <button class="btn btn-default" ng-click="outputStream.selectedFeatures.push('')"><i class="fa fa-plus"></i></button>
					</div>
				</form>
			</tab>
		</tabset>
	</div>

	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="deleteComponent()">
			<i class="fa fa-times fa-lg"></i> Remove
		</button>
		<button class="btn btn-primary" ng-click="saveComponent()">
			<i class="fa fa-check fa-lg"></i> Ok
		</button>
	</div>
</div>